.image-section {
  min-height: 25rem;
  position: relative;
  padding-top: 10rem;
  padding-bottom: 0;
  overflow: hidden;
}

.image-section > img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -1;
}

.image-section__content {
  padding-top: 2rem;
  padding-bottom: 0;
  backdrop-filter: blur(2px);
  color: white;
}

.image-section__content > h2 {
  display: flex;
  justify-content: center;
  margin: 3rem;
  font-size: 1.9rem;  
}

.image-section__content > div {
  padding: 1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #2c4f6be0;
}

.image-section__content > div > h2 {
  color: #e1734b;
  font-weight: 800;
}

