#slider {
  padding: 0;
}

#slider > div {
  position: relative;
  width: 100%;
  height: 50vh;
}

#slider > div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#slider > div > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  font-size: 1.9rem;
  transform: translate(-50%, -50%);
}

.products {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-list {
  max-height: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
  margin: 0 1rem;
}

.products-list > li {
  height: 230px;
  max-width: 30%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}

.products-list > li > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.products > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.products > button:hover {
  cursor: pointer;
}

.products > button:hover > svg > path {
  fill: #41749d;
  transition: fill 300ms ease-in-out;
}

.article {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: fadeInRight 1s;
}

.article > img {
  background-color: transparent;
  image-rendering: optimizeQuality;
  max-width: 460px;
  max-height: 320px;
  width: 100%;
  object-fit: contain;
}

.article > div {
  position: relative;
  flex: 0.8;
  padding: 2rem 1.5rem;
  background-color: #41749d;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}


.article:nth-child(3n) > div{
  background-color: #313335;
}

.article:nth-child(4n) > div{
  background-color: #593e34;
}

@media screen and (min-width: 790px) {
  .article {
    flex-direction: row;
  }
  .article:nth-child(odd) {
    flex-direction: row-reverse;
    animation: fadeInLeft 1s;
  }
  .article > img {
    background-color: transparent;
    image-rendering: optimizeQuality;
    max-height: 460px;
    width: auto;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
  }
}
