.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header.header--fixed {
  position: fixed;
}

.navbar {
  height: 72px;
  width: 100%;
  display: flex;
  padding: 0 calc(100% - 100vw);
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #ffffff00;
}
.navbar.navbar--white {
  background-color: #ffffff;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.15);
}
.navbar.navbar--white > .navbar__logo > a {
  color: black;
}
.navbar.navbar--white > .navbar__btn-container > .navbar__btn > .navbar__btn__bar {
  background-color: black;
}
.navbar.navbar--white > .navbar__btn-container > .navbar__btn > .navbar__btn__bar::after, .navbar.navbar--white > .navbar__btn-container > .navbar__btn > .navbar__btn__bar::before {
  background-color: black;
}
.navbar.navbar--white > .navbar__btn-container > .navbar__btn.active > .navbar__btn__bar {
  background-color: transparent;
}
.navbar > .navbar__logo > a > svg > path {
  fill: #ffffff;
}
.navbar.navbar--white > .navbar__logo > a > svg > path {
  fill: black;
}
@media (min-width: 600px) {
  .navbar {
    padding: 0 calc(100% - 95vw);
    justify-content: space-between;
  }
}
@media (min-width: 924px) {
  .navbar {
    padding: 0 calc(100% - 90vw);
  }
}
@media (min-width: 1324px) {
  .navbar {
    padding: 0 calc(100% - 85vw);
  }
}

.navbar__list {
  display: none;
  justify-content: space-between;
  list-style: none;
}
@media (min-width: 600px) {
  .navbar__list {
    display: flex;
  }
}
.navbar__list > li {
  position: relative;
  padding: 1rem;
  margin: 0.33rem;
}
.navbar__list > li > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.1rem;
}
.navbar__list > li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.2rem;
  width: 100%;
  border-bottom: 0.33rem solid #41749d;
  transform-origin: left;
  transform: scaleX(0%);
  transition: transform 300ms ease-in-out;
}
.navbar__list > li:hover::after, .navbar__list > li.active::after {
  transform: scaleX(100%);
}
.navbar__list > li:hover > a {
  font-weight: 700;
}
.navbar__list.navbar__list--white > li > a {
  color: #000000;
}

.navbar--mobile {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0;
  height: 100vh;
  max-width: 16rem;
  background-color: #ffffff;
  box-shadow: 3px 0px 12px 1px rgba(0, 0, 0, 0.15);
  -webkit-animation: open 380ms ease-in-out forwards;
          animation: open 380ms ease-in-out forwards;
}
@-webkit-keyframes open {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
@keyframes open {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
@-webkit-keyframes close {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes close {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
.navbar--mobile > .navbar__logo {
  display: none;
}
.navbar--mobile > .navbar__list {
  display: block;
  align-self: center;
  margin-top: 4.5rem;
  width: 100%;
  border-top: 1px solid #999999;
}
.navbar--mobile > .navbar__list > li {
  margin: 0;
}
.navbar--mobile > .navbar__list > li::after {
  border-bottom: 0;
  height: 100%;
  background-color: rgba(65, 116, 157, 0.1);
}
.navbar--mobile > .navbar__list > li:first-child {
  margin-top: 0.28rem;
}

.navbar__logo {
  margin: 1rem;
}
.navbar__logo > a {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}
.navbar__logo > a > svg > path {
  transition: fill 150ms ease-in-out;
}
.navbar__logo:hover > a > svg > path {
  fill: #41749d;
}

.navbar__btn-container {
  position: absolute;
  cursor: pointer;
  z-index: 100;
  height: 50%;
  width: 30px;
  top: 50%;
  left: 0%;
  transform: translate(80%, -50%);
}
@media (min-width: 600px) {
  .navbar__btn-container {
    display: none;
  }
}

.navbar__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: all 300ms ease-in-out;
}
.navbar__btn > .navbar__btn__bar {
  background-color: #ffffff;
  height: 4px;
  width: 100%;
  border-radius: 99px;
  transition: all 300ms ease-in-out;
}
.navbar__btn > .navbar__btn__bar::before, .navbar__btn > .navbar__btn__bar::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 99px;
  transition: all 300ms ease-in-out;
}
.navbar__btn > .navbar__btn__bar::before {
  transform: translateY(-0.7rem);
}
.navbar__btn > .navbar__btn__bar::after {
  transform: translateY(0.7rem);
}
.navbar__btn.active > .navbar__btn__bar {
  background-color: transparent;
  transform: translateX(-50px);
}
.navbar__btn.active > .navbar__btn__bar::before, .navbar__btn.active > .navbar__btn__bar::after {
  background-color: black;
}
.navbar__btn.active > .navbar__btn__bar::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.navbar__btn.active > .navbar__btn__bar::after {
  transform: rotate(-45deg) translate(35px, 35px);
}/*# sourceMappingURL=nav.css.map */